.map-container {
  width: auto;
  margin: 10px;
  height: 80vh;
  background-color: #a69e87;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  outline: #c5b769 10px solid;
  border: #908f7c 10px solid;
  border-radius: 20%;
}

.char-widget {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  text-align: center;
  line-height: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.char-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#tree {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}

#clock {
  position: absolute;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: -29%;
  width: 45%;
  margin-left: 17.5%;
  margin-top: -24%;
  z-index: 0;
}

#boss {
  position: absolute;
  margin-top: -18%;
  margin-left: 8%;
}

.custom-container {
  background-color: black;
  padding: 10px;
}
