<div class="custom-container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div style="color: white; cursor: pointer" (click)="toggleClockface()">
        Relógio
      </div>
      <div class="map-container">
        <div>
          <img src="../../../assets/images/boss.webp" id="boss" />
          <img src="../../../assets/images/icon_quest_16.webp" id="tree" />
          <img
            src="../../../assets//images//clock-face.png"
            id="clock"
            *ngIf="showClockface"
          />
        </div>
        <div *ngIf="characters.length" class="char-container" #charContainer>
          <div
            *ngFor="let char of characters"
            class="char-widget"
            cdkDrag
            cdkDragBoundary=".map-container"
          >
            <div>
              <p>{{ char.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row justify-content-center">
        <mat-accordion multi>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>Personagens</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row justify-content-center">
              <div class="col-auto">
                <button
                  class="btn btn-primary button-w-icon"
                  (click)="addCharacters()"
                >
                  <mat-icon>person</mat-icon> - Adicionar Personagens
                </button>
              </div>
            </div>

            <div *ngFor="let char of getCharacters()" class="panel-item">
              <div class="row">
                <div class="col-5">
                  {{ char.name }}
                </div>
                <div class="col-5">
                  {{ char.class }}
                </div>
                <div class="col-2 align-self-end">
                  <button
                    class="btn btn-danger button-w-icon"
                    (click)="removeCharacter(char.name)"
                  >
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
              </div>
              <hr />
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Grupos</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row justify-content-center">
              <div class="col-auto">
                <button class="btn btn-primary button-w-icon">
                  <mat-icon>groups</mat-icon> - Add Grupo
                </button>
              </div>
              <div class="panel-item" *ngFor="let group of groups">
                <div class="row">
                  <div class="col-auto">
                    {{ group.name }}
                  </div>
                  <div class="col-auto button-w-icon">
                    <mat-icon>group</mat-icon> {{ group.characters.length }}
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
